homework_2/code.json
[
    {
        "id": "4df2be30.e84de8",
        "type": "tab",
        "label": "challenge#2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "edf764ab.e80178",
        "type": "inject",
        "z": "4df2be30.e84de8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "wires": [
            [
                "3e6376b2.dc4efa"
            ]
        ]
    },
    {
        "id": "3e6376b2.dc4efa",
        "type": "file in",
        "z": "4df2be30.e84de8",
        "name": "",
        "filename": "/home/user/Desktop/traffic.csv",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "52cce04c.c6b168"
            ]
        ]
    },
    {
        "id": "52cce04c.c6b168",
        "type": "switch",
        "z": "4df2be30.e84de8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Publish Message",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "25d095f2.e0c43a"
            ]
        ],
        "outputLabels": [
            "plc_1"
        ]
    },
    {
        "id": "25d095f2.e0c43a",
        "type": "switch",
        "z": "4df2be30.e84de8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "[factory/department1/section1/plc]",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "[factory/department3/section3/plc]",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "[factory/department1/section1/hydraulic_valve]",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "[factory/department3/section3/hydraulic_valve]",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 550,
        "y": 180,
        "wires": [
            [
                "2202dff3.5275f8"
            ],
            [
                "2202dff3.5275f8"
            ],
            [
                "2202dff3.5275f8"
            ],
            [
                "2202dff3.5275f8"
            ]
        ],
        "outputLabels": [
            "plc_1",
            "plc_3",
            "hydraulic_valve_1",
            "hydraulic_valve_3"
        ]
    },
    {
        "id": "2202dff3.5275f8",
        "type": "function",
        "z": "4df2be30.e84de8",
        "name": "parsing_of_messages",
        "func": "var namArr = msg.payload.split(',');\nnamArr.splice(0, namArr.length/2); \nvar nuovoArray = new Array();\nvar numOfPubblish=0;\nfor(i=0;i<namArr.length;i++){\n    if(namArr[i].includes(\"Publish Message\")){\n        nuovoArray[numOfPubblish] = {topic: namArr[i].slice(namArr[i].indexOf('[')+1,namArr[i].indexOf(']'))};\n        numOfPubblish++;\n    }\n}\nfor(i=0;i<numOfPubblish;i++){\n    var tempArr= namArr[namArr.length-numOfPubblish+i].split(' ');\n    nuovoArray[i].payload = (new Buffer(tempArr[tempArr.length-1].trim(), 'hex')).toString();\n}\nreturn [nuovoArray];",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 180,
        "wires": [
            [
                "efe8ba51.107db8"
            ]
        ]
    },
    {
        "id": "29dab2c2.f1d14e",
        "type": "switch",
        "z": "4df2be30.e84de8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "factory/department1/section1/plc",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "factory/department3/section3/plc",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "factory/department1/section1/hydraulic_valve",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "factory/department3/section3/hydraulic_valve",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "22e21300.b543fe"
            ],
            [
                "22e21300.b543fe"
            ],
            [
                "956433aa.cd65d8"
            ],
            [
                "956433aa.cd65d8"
            ]
        ],
        "outputLabels": [
            "plc_1",
            "plc_3",
            "hydraulic_valve_1",
            "hydraulic_valve_3"
        ]
    },
    {
        "id": "efe8ba51.107db8",
        "type": "json",
        "z": "4df2be30.e84de8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "29dab2c2.f1d14e"
            ]
        ]
    },
    {
        "id": "22e21300.b543fe",
        "type": "change",
        "z": "4df2be30.e84de8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "field",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "799342fa.a7bc64"
            ]
        ]
    },
    {
        "id": "956433aa.cd65d8",
        "type": "change",
        "z": "4df2be30.e84de8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "field",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "799342fa.a7bc64"
            ]
        ]
    },
    {
        "id": "799342fa.a7bc64",
        "type": "function",
        "z": "4df2be30.e84de8",
        "name": "create_mqtt_messages",
        "func": "var API_KEY = \"L876GT2LXBS6M2UM\";\nvar CHANNEL_ID = \"1359553\";\nvar newMsg = msg;\nnewMsg.topic = 'channels/'+CHANNEL_ID+'/publish/' + API_KEY;\nnewMsg.payload='field'+msg.field+'='+msg.payload.value+'&status=MQTTPUBLISH';\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 640,
        "wires": [
            [
                "36e64ab9.356756"
            ]
        ]
    },
    {
        "id": "36e64ab9.356756",
        "type": "delay",
        "z": "4df2be30.e84de8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 400,
        "y": 640,
        "wires": [
            [
                "305cc72f.d2c2a8",
                "6a33183c.26718"
            ]
        ]
    },
    {
        "id": "6a33183c.26718",
        "type": "mqtt out",
        "z": "4df2be30.e84de8",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "broker": "37c87300.b2287e",
        "x": 670,
        "y": 640,
        "wires": []
    },
    {
        "id": "305cc72f.d2c2a8",
        "type": "debug",
        "z": "4df2be30.e84de8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 670,
        "y": 700,
        "wires": []
    },
    {
        "id": "55dba80b.4c6198",
        "type": "comment",
        "z": "4df2be30.e84de8",
        "name": "Read data",
        "info": "",
        "x": 1020,
        "y": 180,
        "wires": []
    },
    {
        "id": "bb1756cd.71ba",
        "type": "comment",
        "z": "4df2be30.e84de8",
        "name": "Elaborate data",
        "info": "",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "7c7e55ce.4918e4",
        "type": "comment",
        "z": "4df2be30.e84de8",
        "name": "Publish results",
        "info": "",
        "x": 860,
        "y": 660,
        "wires": []
    },
    {
        "id": "37c87300.b2287e",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.thingspeak.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]