homework_2/codice.json
[{"id":"4df2be30.e84de8","type":"tab","label":"challenge#2","disabled":false,"info":""},{"id":"c05bfb33.0f94c","type":"csv","z":"4df2be30.e84de8","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"","skip":"0","x":510,"y":180,"wires":[["6a0f77f9.622858"]]},{"id":"15bbdd5c.95258b","type":"inject","z":"4df2be30.e84de8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["f33c92b3.ce3208"]]},{"id":"f33c92b3.ce3208","type":"file in","z":"4df2be30.e84de8","name":"","filename":"/home/user/Desktop/traffic.csv","format":"utf8","chunk":false,"sendError":false,"x":310,"y":180,"wires":[["c05bfb33.0f94c"]]},{"id":"6a0f77f9.622858","type":"split","z":"4df2be30.e84de8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":180,"wires":[["a139362d.19cf58"]]},{"id":"95d59d4f.bc3c38","type":"switch","z":"4df2be30.e84de8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"factory/department1/section1/plc","vt":"str"},{"t":"eq","v":"factory/department3/section3/plc","vt":"str"},{"t":"eq","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"eq","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":110,"y":320,"wires":[["5176474f.a060a"],["5176474f.a060a"],["7b7ec616.185d68"],["7b7ec616.185d68","ab27e6d1.140f28"]],"outputLabels":["plc_1","plc_3","hydraulic_valve_1","hydraulic_valve_3"]},{"id":"a139362d.19cf58","type":"function","z":"4df2be30.e84de8","name":"parsing_of_messages","func":"var newMsg= msg;\nvar temp = msg.payload.trim();\nvar indexFirst =  temp.indexOf(\"[\");\nvar indexLast =  temp.indexOf(\"]\");\nif(temp.indexOf(\"Publish Message\")>=0 &&\n    indexLast < temp.length-1\n){\n    newMsg.topic= temp.slice(indexFirst+1,indexLast);\n    newMsg.payload = (new Buffer(temp.slice(indexLast+1).trim(), 'hex')).toString();\n    return newMsg;\n}","outputs":1,"noerr":0,"x":840,"y":180,"wires":[["95d59d4f.bc3c38"]]},{"id":"5176474f.a060a","type":"change","z":"4df2be30.e84de8","name":"","rules":[{"t":"set","p":"field","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":300,"wires":[["df49f47f.a0a02"]]},{"id":"7b7ec616.185d68","type":"change","z":"4df2be30.e84de8","name":"","rules":[{"t":"set","p":"field","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":340,"wires":[["df49f47f.a0a02"]]},{"id":"ab27e6d1.140f28","type":"debug","z":"4df2be30.e84de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":380,"wires":[]},{"id":"df49f47f.a0a02","type":"json","z":"4df2be30.e84de8","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":320,"wires":[[]]},{"id":"a264fe48.d666f8","type":"function","z":"4df2be30.e84de8","name":"create_mqtt_messages","func":"var API_KEY = \"L876GT2LXBS6M2UM\";\nvar CHANNEL_ID = \"1359553\";\nvar newMsg = msg;\nnewMsg.topic = 'channels/'+CHANNEL_ID+'/publish/' + API_KEY;\nnewMsg.payload='field'+msg.field+'='+msg.payload.value+'&status=MQTTPUBLISH';\nreturn newMsg;","outputs":1,"noerr":0,"x":190,"y":440,"wires":[["8b88565f.e2d63"]]},{"id":"8b88565f.e2d63","type":"delay","z":"4df2be30.e84de8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":440,"wires":[["ab27e6d1.140f28","75d894c8.d6c534"]]},{"id":"75d894c8.d6c534","type":"mqtt out","z":"4df2be30.e84de8","name":"","topic":"","qos":"0","retain":"","broker":"37c87300.b2287e","x":690,"y":460,"wires":[]},{"id":"37c87300.b2287e","type":"mqtt-broker","z":"","name":"","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]